


  <div class="login-container">
  <mat-card class="login-card">
    <mat-card-header>
      <mat-card-title>Login</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <div>
      <mat-form-field>
        <input matInput type="text" placeholder="Username" [(ngModel)]="username">
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <input matInput type="password" placeholder="Password" [(ngModel)]="password">
      </mat-form-field>
    </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button class="login-button" color="primary" (click)="onLogin()">Login</button>
    </mat-card-actions>
  </mat-card>
  </div>