

<ng-container *ngIf="loggedIn; else loginPage">
<mat-toolbar color="primary">
  <span>Customer Management Application</span>
  <span class="example-spacer"></span>
  <button mat-raised-button (click)="openAddEditCustomerForm()">
    ADD CUSTOMER
  </button>
</mat-toolbar>

<div class="main-body">
  <div class="table-container">
    
    <app-customer-list [dataSource]="dataSource"   [displayedColumns]="displayedColumns" [paginator]="paginator" (deleteCustomer)="deleteCustomer($event)" (openEditForm)="openEditForm($event)"></app-customer-list>
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
  </div>
</div>
</ng-container>
<ng-template #loginPage>
  <!-- Login Page -->
  <app-login  (login)="login()"></app-login>
</ng-template>
